@page
@model BookstoreWeb.Pages.Account.ChangePasswordModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}
<body class="bg-img">
    <div class="container p-2 my-5 border bg-light w-50">
        <form method="post">
            <div class="row m-2 text-danger" asp-validation-summary="All"></div>
            <div class="row m-2">
                <div class="col-12 text-center">
                    <label class="fs-1">Change Password</label>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-4">
                    <label asp-for="Password.OldPassword" class="form-label">Old Password</label>
                </div>
                <div class="col-12">
                    <input asp-for="Password.OldPassword" type="password" class="form-control" />
                    <span asp-validation-for="Password.OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-4">
                    <label asp-for="Password.Password" class="form-label">New Password</label>
                </div>
                <div class="col-12">
                    <input asp-for="Password.Password" type="password" class="form-control" />
                    <span asp-validation-for="Password.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-6">
                    <label asp-for="Password.ConfirmPassword" class="form-label">Confirm New Password</label>
                </div>
                <div class="col-12">
                    <input asp-for="Password.ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="Password.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12 text-center">
                    <button id="btnChangePassword" class="btn btn-danger">Change Password</button>
                </div>
            </div>
        </form>
    </div>
</body>
