@page
@model BookstoreWeb.Pages.Account.ProfileModel
@{
}
<style>

</style>
<body>
    <div class="row m-2">
        <div class="col-2">
            <label>First Name:</label>
        </div>
        <div class="col-10">
            <label>@Model.profile.FirstName</label>
        </div>
        <div class="col-2">
            Last Name:
        </div>
        <div class="col-10">
            <label asp-for="@Model.profile.LastName"></label>
        </div>
        <div class="col-2">
            Email:
        </div>
        <div class="col-10">
            <label asp-for="@Model.profile.Email"></label>
        </div>
    </div>
</body>
